<% content_for(:title) do %>
  <%= t "alumni.title" %>
<% end %>
<% content_for(:description) do %>
  <%= t "alumni.description" %>
<% end %>

<div id="alumni-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= t "alumni.banner" %></h1>
        <div class="vertical-spacer"></div>
        <ul class="list-inline">
          <li>html & css<img src="<%= image_path 'icons/html.png' %>" alt="html"></li>
          <li>ruby & Rails<img src="<%= image_path 'icons/ruby.png' %>" alt="ruby"></li>
          <li>javascript<img src="<%= image_path 'icons/js.png' %>" alt="js"></li>
          <li>git & Github <img src="<%= image_path 'icons/git.png' %>" alt="git"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="projects">
  <div class="vertical-spacer"></div>
  <div class="container">
    <div class="row">
      <% ALUMNI.each_slice(2) do |slice| %>
        <div class="clearfix hidden-xs-block"></div>

        <% slice.each do |alumnus| %>
          <div class="col-sm-6">
            <div class="project col-inner-md-padded">
              <h2 class="text-center"><%= alumnus[:project][:name] %></h2>
              <a href="<%= alumnus[:project][:url] %>" target="_blank">
                <img src="<%= image_path "projects/#{alumnus[:project][:image_name]}" %>"
                     alt="<%= alumnus[:project][:name] %>">
              </a>
              <br><br><br>

              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="<%= alumnus[:url] %>" target="_blank">
                    <img src="<%= image_path "alumni/#{alumnus[:image_name]}" %>"
                         alt="<%= alumnus[:name] %>" class="img-circle">
                  </a>
                  <h3><%= alumnus[:name] %></h3>
                </div>
                <div class="col-xs-8">
                  <p class="text-justify">
                    <%= alumnus[:project][:teaser][I18n.locale] %>
                  </p>
                  <p>
                    <strong><%= t "alumni.final_project"%> :</strong>
                    <%= alumnus[:project][:description][I18n.locale] %>
                  </p>
                  <br/>
                  <% if alumnus[:links] %>
                  <ul class="list-inline link-list">
                    <% alumnus[:links].each do |link| %>
                    <li>
                      <a href="<%= link[:url] %>" target="_blank">
                        <i class="fa fa-<%= link[:icon] %>"></i>
                      </a>
                    </li>
                    <% end %>
                  </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="col-sm-6 project" id="and-you">
        <h2><%= t "alumni.and_you" %></h2>
        <i class="fa fa-question"></i>
        <br/>
        <a href="<%= apply_path %>" class="btn btn-primary red-btn">
          <span class="text-uppercase"><%= t "apply_now"%></span>
        </a>

      </div>
    </div>
  </div>
</div>
