<% content_for(:title) do %>
  Le Wagon - Alumni
<% end %>


<div id="projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/kudoz-landing.png'%>" alt="Kudoz">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'alumni/olivier.png'%>" alt="olivier xu" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Une appli iOS pour laisser les offres d'emploi venir à vous. Le tinder de l'emploi !
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'API back-end, de l'algorithme de filtrage lié à linkedin, et de l'interface-web côté RH.
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/fizzer-landing.png'%>" alt="fizzer">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'alumni/fizzer-guys.png'%>" alt="fizzer guys" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Un site web responsive pour envoyer vos cartes postales personnalisées en prenant des photos depuis votre mobile.
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'appli web fizzer.
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/vogmark-landing.png'%>" alt="vogmark">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'alumni/edouard.png'%>" alt="edouard polese" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Une appli-web pour être alerté quand le prix d'un produit qui vous intéresse chute!
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'appli web Vogmark, du bookmarklet pour tracker vos produit depuis un site e-commerce externe, et du robot de scraping pour vous alerter quand le prix de votre produit chute!
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/capy-landing.png'%>" alt="capy">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'alumni/olivier_god.png'%>" alt="Olivier Godement" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Une appli SaaS pour générez simplement un tableau de capitalisation, des bons de souscription & pactes d'associés et les uploader sous formats excel et word
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'appli web Capy.
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/mavillejetaide-landing.png'%>" alt="Ma ville je t'aide">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'alumni/melanie.png'%>" alt="fizzer guys" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Une appli iOS pour laisser les offres d'emploi venir à vous.Le tinder de l'emploi.
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'API back-end, de l'algorithme de filtrage lié à linkedin, et de l'interfac-web côté RH.
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/bouquet-landing.png'%>" alt="bouquet">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="assets/alumni/laurent.png" alt="fizzer guys" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Une appli iOS pour laisser les offres d'emploi venir à vous.Le tinder de l'emploi.
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'API back-end, de l'algorithme de filtrage lié à linkedin, et de l'interfac-web côté RH.
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 project">
        <img src="<%= image_path 'projects/wearethediggers-landing.png'%>" alt="Ma ville je t'aide">
        <br/><br/><br/>
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'alumni/manu.png'%>" alt="fizzer guys" class="img-circle">
            <br/>
          </div>
          <div class="col-xs-8">
            <p class="justify">
              Une appli iOS pour laisser les offres d'emploi venir à vous.Le tinder de l'emploi.
            </p>
            <p>
              <strong>Projet final :</strong>
              Développement de l'API back-end, de l'algorithme de filtrage lié à linkedin, et de l'interfac-web côté RH.
            </p>
            <br/>
            <ul class="list-inline">
              <li>
                <a href="https://twitter.com/lewagonparis">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/lewagon">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 project" id="and-you">
        <h2>Et vous</h2>
        <i class="fa fa-question"></i>
      </div>
    </div>
  </div>
</div>