<% content_for(:title) do %>
  Le Wagon - Alumni & Projets
<% end %>
<% content_for(:description) do %>
  Découvrez les projets des précédentes promotions du Wagon. Plus de 80 entrepreneurs ont déjà acquis leurs super-pouvoirs, et vous ?
<% end %>

<div id="projects">
  <div class="container">
    <div class="row">
      <% ALUMNI.each do |alumnus| %>
      <div class="col-sm-6">
        <div class="project">
          <a href="<%= alumnus[:project][:url] %>">
            <img src="<%= image_path "projects/#{alumnus[:project][:image_name]}" %>"
                 alt="<%= alumnus[:project][:name] %>">
          </a>
          <br><br><br>

          <div class="row">
            <div class="col-xs-4">
              <a href="<%= alumnus[:url] %>">
                <img src="<%= image_path "alumni/#{alumnus[:image_name]}" %>"
                     alt="<%= alumnus[:name] %>" class="img-circle">
              </a>
              <br/>
            </div>
            <div class="col-xs-8">
              <p class="text-justify">
                <%= alumnus[:project][:teaser] %>
              </p>
              <p>
                <strong>Projet final :</strong>
                <%= alumnus[:project][:description] %>
              </p>
              <br/>
              <% if alumnus[:links] %>
              <ul class="list-inline link-list">
                <% alumnus[:links].each do |link| %>
                <li>
                  <a href="<%= link[:url] %>">
                    <i class="fa fa-<%= link[:icon] %>"></i>
                  </a>
                </li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <div class="col-sm-6 project" id="and-you">
        <h2>Et vous</h2>
        <i class="fa fa-question"></i>
        <br/>
        <a href="/postuler" class="btn btn-primary red-btn">
          POSTULEZ MAINTENANT
        </a>

      </div>
    </div>
  </div>
</div>
