<div class="apply text-center" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box center" style="background-color: white;">
          <h3><%= t "ready_to_get_onboard" %></h3>
          <p>
            <a href="<%= apply_path %>" class="btn btn-primary red-btn">
              <%= t("apply_now").upcase %>
            </a>
          </p>
          <% unless defined?(no_faq) && no_faq %>
            <p><%= t("still_some_questions") %> <a href="<%= faq_path %>">FAQ</a></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>