<% content_for(:title) do %>
  Le Wagon - Blog de culture technique et entrepreneuriale
<% end %>
<% content_for(:description) do %>
  Le blog du Wagon vous tient informé de l'actualité technique et entrepreunariale.
  Retrouvez nos masterclasses et tutoriels vidéos. Formez-vous au code et découvrez les
  outils les plus utilisés par les startups innovantes.
<% end %>

<div id="blog-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1>Blog</h1>
        <div class="vertical-spacer"></div>
        <ul class="list-inline" id="blog-filters">
          <li><i class="fa fa-newspaper-o"></i><a href="#" class="current" data-filter="*">Tous les articles</a></li>
          <li><i class="fa fa-graduation-cap"></i><a href="#" class="current" data-filter=".filter-alumni">Alumni</a></li>
          <li><i class="fa fa-code"></i><a href="#" class="current" data-filter=".filter-tuto">Tuto</a></li>
          <li><i class="fa fa-flask"></i><a href="#" class="current" data-filter=".filter-startup">Startup</a></li>
          <li><i class="fa fa-users"></i><a href="#" class="current" data-filter=".filter-meetup">Meetup</a></li>
          <li><i class="fa fa-beer"></i><a href="#" class="current" data-filter=".filter-aperotalk">ApéroTalk</a></li>
          <li><i class="fa fa-rebel"></i><a href="#" class="current" data-filter=".filter-misc">Misc</a></li>
          <li><i class="fa fa-video-camera"></i><a href="#" class="current"data-filter=".filter-video">Vidéo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="all-posts">
        <%= erb :posts %>
      </div>
      <nav class="pagination">
        <a href="<%= request.path_info %>.js?page=<%= params[:page] %>" rel="next">Next</a>
      </nav>
    </div>
  </div>
</div>

<div class="blog-share">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>Un petit partage ?</p>
      <div class="share-buttons">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Lewagonparis">Tweet</a>
        <div class="fb-like" data-href="http://www.lewagon.org<%= request.path_info %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
      <p>Tenez-moi au courant de vos prochaines publications !</p>
      <%= erb :mailchimp_form %>
    </div>
  </div>
</div>
