<% content_for(:title) do %>
  Le Wagon - Blog
<% end %>
<% content_for(:description) do %>
  Sur le blog du wagon, on parle tech, code, et entreprenariat. Et aussi des merveilleuses aventures de nos super héros en devenir !
<% end %>

<div id="blog-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1>Blog</h1>
        <div class="vertical-spacer"></div>
        <ul class="list-inline">
          <li>html & css<img src="<%= image_path 'icons/html.png' %>" alt="html"></li>
          <li>ruby & Rails<img src="<%= image_path 'icons/ruby.png' %>" alt="ruby"></li>
          <li>javascript<img src="<%= image_path 'icons/js.png' %>" alt="js"></li>
          <li>git & Github <img src="<%= image_path 'icons/git.png' %>" alt="git"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="all-posts">
        <% @posts.each do |post| %>
          <article class="blog-post">
            <h2>
              <a href="/blog/<%= post.slug %>">
                <%= post.metadata[:title] %>
              </a>
            </h2>
            <%= post.excerpt %>
            <% if post.excerpt? %>
              <a href="/blog/<%= post.slug %>">
                Lire la suite
                <i class="fa fa-angle-double-right"></i>
              </a>
            <% end %>
          </article>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%= erb :blog_aside %>
    </div>
  </div>
</div>
