<!-- Booster Modal -->
<div class="modal fade" id="<%= "#{booster_slug}-modal" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">
          <%= t "apply.booster_form.apply_modal.pre_inscription" %> "<%= booster[:name]%>"
        </h3>
        <p><%= t "apply.booster_form.apply_modal.it_is_limited" %></p>
      </div>
      <div class="modal-body text-left" style="padding-top: 30px;padding-bottom: 50px;">
        <!-- TODO: link the form to Trello -->
        <%= erb :booster_form, locals: { booster: booster, booster_slug: booster_slug } %>
      </div>
    </div>
  </div>
</div>