<form action="/booster_apply" method="post" role="form">
  <% if @error %>
  <div class="alert alert-danger" role="alert">
    <%= t 'apply.form.error' %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="first_name"><%= t "apply.form.first_name" %></label>
        <input class="form-control" type="text" name="first_name" id="first_name" placeholder="Alan" value="<%= params[:first_name] %>" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="last_name"><%= t "apply.form.last_name" %></label>
        <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Turing" value="<%= params[:last_name] %>" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email"><%= t "apply.form.email" %></label>
    <input class="form-control" type="email" name="email" id="email" placeholder="alan@turing.org" value="<%= params[:email] %>" required>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="email"><%= t "apply.form.phone" %></label>
        <input class="form-control" type="tel" name="phone" id="phone" placeholder="+33123456789" value="<%= params[:phone] %>" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="age"><%= t "apply.form.age" %></label>
        <input class="form-control" type="text" name="age" id="age" placeholder="42" value="<%= params[:age] %>"  required>
      </div>
    </div>
  </div>

  <% if @booster_camps && @booster_camps.any? %>
    <div class="form-group">
      <label>
        <%= t "apply.booster_form.choose_camp", count: @booster_camps.size %>
      </label>
      <% @booster_camps.each do |slug, camp| %>
        <div class="radio">
          <label>
            <input type="radio" name="booster_camp" value="<%= slug %>" required <%= @booster_camps.size == 1 ? 'checked="checked"' : nil %>>
            <strong><%= camp[:city].capitalize %></strong>,
            <small>
              <% format = camp[:start_date].year == Time.now.year ? :short : :long %>
              <%= t "apply.form.choose_camp_radio_label_html",
                    start_date: l(camp[:start_date], format: format),
                    end_date: l(camp[:end_date], format: format) %>
              <% if camp[:last_seats] %>
                <span class="label label-danger"><%= t "apply.form.last_seats" %></span>
              <% end %>
            </small>
          </label>
        </div>
      <% end %>
      </label>
    </div>
  <% else %>
    <input type="hidden" name="booster" value="<%= booster_slug %>">
  <% end %>

  <% if booster[:trello] && booster[:trello][:additional_questions] %>
    <% booster[:trello][:additional_questions].each_with_index do |question, index| %>
      <div class="form-group">
        <label for="additional_question_<%= index %>"><%= question[:text] %></label>
        <input type="hidden" name="additional_questions[<%= index %>][question]" value="<%= question[:text] %>">
        <% if question[:choices] %>
          <select class="form-control" name="additional_questions[<%= index %>][answer]" id="additional_question_<%= index %>">
          <% question[:choices].each do |choice| %>
            <option><%= choice %></option>
          <% end %>
          </select>
        <% elsif question[:multiline] %>
          <textarea class="form-control" name="additional_questions[<%= index %>][answer]" id="additional_question_<%= index %>" rows="4" <%= question[:required] ? 'required' : nil %>></textarea>
        <% else %>
          <input type="text" class="form-control" name="additional_questions[<%= index %>][answer]" id="additional_question_<%= index %>" <%= question[:required] ? 'required' : nil %>>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <label for="motivation"><%= t "apply.booster_form.motivation" %></label>
    <textarea class="form-control" name="motivation" id="motivation" rows="4" required><%= params[:motivation] %></textarea>
  </div>

  <div class="form-group">
    <span class="help-block">
      <% if booster[:price] %>
        <%= t "apply.form.price_begin" %>
        <strong><%= booster[:price]%>€</strong>
        <%= t "apply.form.price_end" %>
      <% else %>
        <%= t "apply.booster_form.no_price_html" %>
      <% end %>
    </span>
  </div>

  <!-- Anti-spam -->
  <input name="country" id="country">
  <button class="btn btn-primary red-btn" style="width: 100%">
    <%= t "apply.booster_form.apply_button", count: @booster_camps ? @booster_camps.size : 0 %>
  </button>
</form>