<div class="col-xs-12 col-md-4 text-center">
  <div class="panel-booster">
    <!-- 3D ribbon for 1st offer -->
    <% if booster[:card][:focus] %>
      <div class="ribbon ribbon-red" >
        <div class="banner">
            <div class="text"><%= booster[:card][:ribbon] %></div>
        </div>
      </div>
    <% end %>
    <div class="round-icon <%= booster[:card][:class] %> brandon-medium">
      <%= booster[:card][:badge_name] %>
    </div>
    <ul>
      <li><%= booster[:card][:focus_one] %></li>
      <li><%= booster[:card][:focus_two] %></li>
      <li><%= booster[:card][:focus_three] %></li>
    </ul>
    <p><strong><%= booster[:card][:level] %></strong></p>

    <% if booster[:launched] %>
      <a href="/programme/<%= slug %>" class="btn btn-default yellow">
        more details
      </a>
      <!--span to make panel clickable-->
      <a href="/programme/<%= slug %>"><span class="click-panel"></span></a>
    <% else %>
      <a data-target="<%= "##{slug}-modal" %>" data-toggle="modal" class="btn btn-default white">
        i'm interested
      </a>
      <!--span to make panel clickable-->
      <a data-target="<%= "##{slug}-modal" %>" data-toggle="modal"><span class="click-panel"></span></a>
    <% end %>
  </div>
</div>

<%= erb :booster_modal, locals: { slug: slug, booster: booster } %>




