<% content_for(:title) do %>
  Le Wagon - <%= @city[:name] %>
<% end %>

<div id="city-banner">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= @city[:name].upcase %></h1>
        <div class="vertical-spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="newsletter">
  <div class="center">
    <p>Soyez informé des prochaines <strong>évènements</strong> à <%= @city[:name]%>, recevez nos <strong>vidéos</strong> & <strong>blogposts</strong> techniques.</p>
    <form action="#" method="get" class="newsletter-form">
      <div class="input">
        <input type="email" placeholder='votre e-mail' class="subscribe-input">
        <input type="submit" value="Suivez-nous" class="btn btn-primary blue-btn">
        <p class="error-message"></p>
      </div>
    </form>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="teachers text-center">
  <div class="container">
    <h2>STAFF</h2>
    <br/><br/>
    <div class="row">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <img src="<%= image_path 'teachers/olivier.png'%>" class="img-circle">
          </div>
          <div class="col-xs-8">
            <p class="justify">Développeur depuis ses 13 ans, passionné de photo et de moto, Olivier crée <a htref="http://www.sylights.com/">Sylights</a> en 2010, une appli pour partager des schémas d'éclairage entre photographes, rien de moins !</p>
            <ul class="list-inline link-list">
              <li>
                <a href="https://github.com/olance">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="http://www.sylights.com/">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4 center">
            <img src="<%= image_path 'teachers/seb.png'%>" class="img-circle">
          </div>
          <div class="col-xs-8">
            <p class="justify">Baroudeur du code, Sebastien sévit maintenant en tant que <a href="http://sebastien.saunier.me/">coach technique</a> pour startup. Il aura à coeur de transmettre la rigueur et les bonnes pratiques aux élèves du Wagon!</p>
            <ul class="list-inline link-list">
              <li>
                <a href="https://github.com/ssaunier">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="http://sebastien.saunier.me">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4 center">
            <img src="<%= image_path 'teachers/gab.png'%>" class="img-circle">
          </div>
          <div class="col-xs-8">
            <p class="justify">Il fait du Ruby & Rails depuis 4 ans et aime comprendre ce qui se passe sous le capot ! Il a travaillé chez <a href="http://www.tigerlilyapps.com/">Tigerlilyapps</a> et c'est tout simplement un monstre de pédagogie.</p>
            <ul class="list-inline link-list">
              <li>
                <a href="https://github.com/gabriel-dehan">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="http://www.tigerlilyapps.com/">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4 center">
            <img src="<%= image_path 'teachers/boris.png'%>" class="img-circle">
          </div>
          <div class="col-xs-8">
            <p class="justify">Il a fui sa salle de marché pour se lancer dans le code corps et âme. Il comprend parfaitement les besoins des débutant et a codé le <a href="http://lewagon.org">site</a> et les plate-formes pédagogiques du Wagon.</p>
            <ul class="list-inline link-list">
              <li>
                <a href="https://github.com/papillard">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="http://lewagon.org">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4 center">
            <img src="<%= image_path 'teachers/cecile.png'%>" class="img-circle">
          </div>
          <div class="col-xs-8">
            <p class="justify">Avec 5 ans d'expérience en e-commerce, Cécile aime partager sa passion pour Ruby on Rails. Lilloise de coeur et hyper-active, elle co-anime les rencontres Rails Mentors, Rails Girls et Ruby Burgers.</p>
            <ul class="list-inline link-list">
              <li>
                <a href="https://github.com/cveneziani">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4 center">
            <img src="<%= image_path 'teachers/simon.png'%>" class="img-circle">
          </div>
          <div class="col-xs-8">
            <p class="justify">Co-fondateur de <a href="http://tinci.fr">Tinci</a>, très actif dans la communauté ruby parisienne (Paris.rb), auteur de plusieurs gems, Simon est passionné des bonnes pratiques, méthodologies et techniques d'amélioration continu.</p>
            <ul class="list-inline link-list">
              <li>
                <a href="https://github.com/simonc">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="http://tinci.fr">
                  <i class="fa fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="local">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= erb :map %>
      </div>
      <div class="col-xs-6">
        <h2>PARIS CAMP</h2>
        <p style="font-weight:500;font-size: 20px;">25, rue du Petit Musc 75004 Paris</p>
        <br/>
        <p style="font-weight:300;font-size: 17px;" class="justify">En plein coeur de Paris, à 100m de l'île Saint-Louis et de la place de la Bastille, notre coding space occupe 140m2 au second étage de <a href="http://www.thefamily.co/">thefamily</a>, l'occasion pour les élèves du Wagon de plonger dans l'écosystème tech et entrepreneurial.</p>
      </div>
    </div>
  </div>
</div>



<div class="partners">
  <div class="container">
    <div class="row">
      <h2>PARTENAIRES</h2>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/thefamily.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/lecamping.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/urbanlinker.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/uber.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/fifty-five.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/drivy.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/capitainetrain.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2">
        <img src="<%= image_path 'partners/wisembly.png'%>" alt="The Family">
      </div>
      <div class="col-xs-2 justify">
        <p><strong>Vous voulez rejoindre cette liste ?</strong> Pour nous soutenir, recruter nos élèves ou former vos employés chez nous.</p>
        <p><a href="mailto:contact@lewagon.org">contact@lewagon.org</a></p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="apply">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="box center">
          <h3>Embarquez pour 9 semaines à <%= @city[:name]%></h3>
          <a href="/postuler" class="btn btn-primary red-btn">
            POSTULEZ MAINTENANT
          </a>
          <br/><br/>
          <p>Vous voulez plus de détails ? Vous pouvez lire les <a href="/faq">FAQ</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-image: url('<%= image_path 'bg/local-paris.jpg'%>'); background-size: cover; height: 400px;">
</div>