<% content_for(:title) do %>
  <%= t "city.title"%> <%= @city[:name] %>
<% end %>
<% content_for(:description) do %>
  <% if I18n.locale == :fr %>
    Le Wagon débarque à <%= @city[:name] %>. Vous voulez apprendre à coder ? Alors prenez 9 semaines de votre vie et changez-là pour toujours !
  <% else %>
    Le Wagon is in <%= @city[:name] %>. Do you want to become a web programmer in 9 weeks? Get on board and change your life for ever!
  <% end %>
<% end %>

<div id="city-banner" class="text-center"
     style="background-image: url('<%= asset_path @city[:images][:banner] %>')">
  <div class="filter" style="background-color: <%= @city[:filter_color] %>">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= @city[:name].upcase %></h1>
        <div class="vertical-spacer"></div>
      </div>
    </div>
  </div>
</div>



<% if @meetup %>
<div class="meet-us">
  <div class="container">
    <div class="col-xs-12">
      <div class="red-label text-center">
        <h2><%= t("stay_in_touch")%></h2>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="newsletter text-left">
            <h2 style="font-size: 23px; font-weight: 300px;"><%= t("by_email")%></h2>
            <p>
              <%= t "newsletter.city_teaser_html", city: @city[:name] %>
            </p>

            <%= erb :mailchimp_form, locals: { city: @city[:name] } %>
            <div>
              <div class="fb-like" data-href="<%= @city[:twitter]%>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
              <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=170809313078160&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
              </script>
              <a href="<%= @city[:twitter]%>" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false">Follow</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 meetup">
          <h2 style="font-size: 23px; font-weight: 300px;"><%= t("for_real")%></h2>
          <p>
            <%= t("join_our_meetup")%> <strong><a href="<%= @meetup[:link] %>" target="_blank"><%= @meetup[:name] %></a></strong>
           <%= t("and_its")%> <strong><%= @meetup[:members] %> <%= t("apprentices")%></strong>
          </p>
          <hr>
          <% @meetup_events.take(2).each do |meetup_event| %>
          <div class="row">
            <div class="col-xs-2 text-center">
              <div class="date pill pull-right">
                <%= Time.at(meetup_event[:time] / 1000).to_datetime.day %>
              </div>
            </div>
            <div class="col-xs-10">
              <a href="<%= meetup_event[:event_url] %>" target="_blank">
                <%= meetup_event[:name] %>
              </a>
              <p style="color: grey; font-weight: 300px; font-size: 14px;"><%= l Time.at((meetup_event[:time] + meetup_event[:utc_offset]) / 1000).to_datetime.utc, format: :long %></p>
            </p>
            </div>
          </div>
          <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="teachers text-center">
  <div class="container">
    <h2>STAFF</h2>
    <br/><br/>

    <div class="row">

      <% @city[:staff].each_slice(3) do |slice| %>

        <% slice.map { |slug| STAFF[slug.to_sym] }.each do |teacher| %>
          <div class="<%= @city[:staff].length == 2 ? 'col-sm-6' : 'col-md-4 col-sm-6' %>">
            <div class="row teacher">
              <div class="col-xs-4">
                <img src="<%= image_path "teachers/#{teacher[:image_name]}" %>" class="img-circle">
              </div>
              <div class="col-xs-8">
                <p class="text-justify">
                  <%= teacher[:description][I18n.locale] %>
                </p>
                <% if teacher[:links] %>
                <ul class="list-inline link-list">
                  <% teacher[:links].each do |link| %>
                  <li>
                    <a href="<%= link[:url] %>">
                      <i class="fa fa-<%= link[:icon] %>"></i>
                    </a>
                  </li>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="clearfix visible-md-block"></div>
      <% end %>

    </div>
  </div>
</div>

<div class="local">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= erb :map, locals: { latitude: @city[:geo][:latitude], longitude: @city[:geo][:longitude], zoom: @city[:geo][:zoom] } %>
      </div>
      <div class="col-sm-6">
        <h2><%= @city[:name].upcase %> CAMP</h2>
        <p style="font-weight:500;font-size: 20px;"><%= @city[:address] %></p>
        <br/>
        <p style="font-weight:300;font-size: 17px;" class="text-justify"><%= @city[:description][I18n.locale] %></p>
        <br/>
      </div>
      <% if @city[:subventions] %>
        <% @city[:subventions].map { |s| SUBVENTIONS[s.to_sym] }.each do |subvention| %>
          <div class="col-sm-6">
            <div class="col-xs-6">
              <a href="<%= subvention[:url] %>" target="_blank">
                <img src="<%= image_path "subventions/#{subvention[:image_name]}" %>"
                     alt="<%= subvention[:name] %>"
                     data-toggle="tooltip" title="<%= subvention[:name]%>" data-placement="bottom">
              </a>
            </div>
            <div class="col-xs-6" style="padding: 0px;">
              <p style="font-weight:300;font-size: 17px;" class="text-justify">
                <%= subvention[:description][I18n.locale] %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<div class="partners">
  <div class="container">
    <div class="row">
      <h2><%= t("city.partners").upcase %></h2>
      <% @city[:partners].each do |partner| %>
        <% partner = partner.to_sym %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="<%= PARTNERS[partner][:url] %>" target="_blank">
            <img src="<%= image_path "partners/#{PARTNERS[partner][:image_name]}" %>"
                 alt="<%= PARTNERS[partner][:name] %>"
                 data-toggle="tooltip" title="<%= PARTNERS[partner][:name]%>" data-placement="bottom">
          </a>
        </div>
      <% end %>

      <div class="col-xs-12 col-md-3 col-lg-2 text-justify">
        <p><%= t "city.partner_join_html" %></p>
        <p><a href="mailto:contact@lewagon.org">contact@lewagon.org</a></p>
        <p></p>
      </div>

    </div>
  </div>
</div>

<div class="apply text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="box center">
          <h3><%= t "city.get_onboard", city: @city[:name] %></h3>
          <a href="<%= apply_path %>" class="btn btn-primary red-btn">
            <%= t("apply_now").upcase %>
          </a>
          <br/><br/>
          <p><%= t "still_some_questions"%> <a href="<%= faq_path %>">FAQ</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-image: url('<%= image_path @city[:images][:bottom] %>'); background-size: cover; height: 400px;">
</div>