<% content_for(:title) do %>
  Le Wagon - <%= @city[:name] %>
<% end %>
<% content_for(:description) do %>
  Le Wagon débarque à <%= @city[:name] %>. Vous voulez apprendre à coder ? Alors prenez 9 semaines de votre vie et changez-là pour toujours !
<% end %>

<div id="city-banner" class="text-center"
     style="background-image: url('<%= asset_path @city[:images][:banner] %>')">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= @city[:name].upcase %></h1>
        <div class="vertical-spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="newsletter text-center">
  <p>Soyez informé des prochaines <strong>évènements</strong> à <%= @city[:name]%>, recevez nos <strong>vidéos</strong> & <strong>blogposts</strong> techniques.</p>
  <form action="#" method="get" class="newsletter-form">
    <div class="input">
      <input type="email" placeholder='votre e-mail' class="subscribe-input">
      <input type="submit" value="Suivez-nous" class="btn btn-primary blue-btn">
      <p class="error-message"></p>
    </div>
  </form>
</div>

<div class="vertical-spacer"></div>

<div class="teachers text-center">
  <div class="container">
    <h2>STAFF</h2>
    <br/><br/>

    <div class="row">

      <% @city[:staff].each_slice(3) do |slice| %>

        <% slice.map { |slug| STAFF[slug.to_sym] }.each do |teacher| %>
          <div class="col-md-4 col-sm-6">
            <div class="row teacher">
              <div class="col-xs-4">
                <img src="<%= image_path "teachers/#{teacher[:image_name]}" %>" class="img-circle">
              </div>
              <div class="col-xs-8">
                <p class="text-justify">
                  <%= teacher[:description] %>
                </p>
                <% if teacher[:links] %>
                <ul class="list-inline link-list">
                  <% teacher[:links].each do |link| %>
                  <li>
                    <a href="<%= link[:url] %>">
                      <i class="fa fa-<%= link[:icon] %>"></i>
                    </a>
                  </li>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="clearfix visible-md-block"></div>
      <% end %>

    </div>
  </div>
</div>



<div class="local">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= erb :map, locals: { latitude: @city[:geo][:latitude], longitude: @city[:geo][:longitude], zoom: @city[:geo][:zoom] } %>
      </div>
      <div class="col-sm-6">
        <h2>PARIS CAMP</h2>
        <p style="font-weight:500;font-size: 20px;"><%= @city[:address] %></p>
        <br/>
        <p style="font-weight:300;font-size: 17px;" class="text-justify"><%= @city[:description] %></p>
      </div>
    </div>
  </div>
</div>



<div class="partners">
  <div class="container">
    <div class="row">
      <h2>PARTENAIRES</h2>
      <% @city[:partners].each do |partner| %>
        <% partner = partner.to_sym %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="<%= PARTNERS[partner][:url] %>" target="_blank">
            <img src="<%= image_path "partners/#{PARTNERS[partner][:image_name]}" %>"
                 alt="<%= PARTNERS[partner][:name] %>"
                 data-toggle="tooltip" title="<%= PARTNERS[partner][:name]%>" data-placement="bottom">
          </a>
        </div>
      <% end %>

      <div class="col-xs-12 col-md-3 col-lg-2 text-justify">
        <p><strong>Vous voulez rejoindre cette liste ?</strong> Pour nous soutenir, recruter nos élèves ou former vos employés chez nous.</p>
        <p><a href="mailto:contact@lewagon.org">contact@lewagon.org</a></p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="apply text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="box center">
          <h3>Embarquez pour 9 semaines à <%= @city[:name]%></h3>
          <a href="/postuler" class="btn btn-primary red-btn">
            POSTULEZ MAINTENANT
          </a>
          <br/><br/>
          <p>Vous voulez plus de détails ? Vous pouvez lire les <a href="/faq">FAQ</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-image: url('<%= image_path @city[:images][:bottom] %>'); background-size: cover; height: 400px;">
</div>