<% content_for(:title) do %>
  Le Wagon - <%= @city[:name] %>
<% end %>
<% content_for(:description) do %>
  <% if I18n.locale == :fr %>
    Le Wagon débarque à <%= @city[:name] %>. Vous voulez apprendre à coder ? Alors prenez 9 semaines de votre vie et changez-là pour toujours !
  <% else %>
    Le Wagon is in <%= @city[:name] %>. Do you want to become a web programmer in 9 weeks? Get on board and change your life for ever!
  <% end %>
<% end %>

<div id="city-banner" class="text-center"
     style="background-image: url('<%= asset_path @city[:images][:banner] %>')">
  <div class="filter" style="background-color: <%= @city[:filter_color] %>">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= @city[:name].upcase %></h1>
        <div class="vertical-spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="newsletter text-center">
  <p>
    <%= t "newsletter.city_teaser_html", city: @city[:name] %>
  </p>

  <%= erb :mailchimp_form, locals: { city: @city[:name] } %>

</div>

<div class="vertical-spacer"></div>

<div class="teachers text-center">
  <div class="container">
    <h2>STAFF</h2>
    <br/><br/>

    <div class="row">

      <% @city[:staff].each_slice(3) do |slice| %>

        <% slice.map { |slug| STAFF[slug.to_sym] }.each do |teacher| %>
          <div class="<%= @city[:staff].length == 2 ? 'col-sm-6' : 'col-md-4 col-sm-6' %>">
            <div class="row teacher">
              <div class="col-xs-4">
                <img src="<%= image_path "teachers/#{teacher[:image_name]}" %>" class="img-circle">
              </div>
              <div class="col-xs-8">
                <p class="text-justify">
                  <%= teacher[:description] %>
                </p>
                <% if teacher[:links] %>
                <ul class="list-inline link-list">
                  <% teacher[:links].each do |link| %>
                  <li>
                    <a href="<%= link[:url] %>">
                      <i class="fa fa-<%= link[:icon] %>"></i>
                    </a>
                  </li>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="clearfix visible-md-block"></div>
      <% end %>

    </div>
  </div>
</div>



<div class="local">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= erb :map, locals: { latitude: @city[:geo][:latitude], longitude: @city[:geo][:longitude], zoom: @city[:geo][:zoom] } %>
      </div>
      <div class="col-sm-6">
        <h2><%= @city[:name].upcase %> CAMP</h2>
        <p style="font-weight:500;font-size: 20px;"><%= @city[:address] %></p>
        <br/>
        <p style="font-weight:300;font-size: 17px;" class="text-justify"><%= @city[:description] %></p>
      </div>
    </div>
  </div>
</div>



<div class="partners">
  <div class="container">
    <div class="row">
      <h2><%= t("partners").upcase %></h2>
      <% @city[:partners].each do |partner| %>
        <% partner = partner.to_sym %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="<%= PARTNERS[partner][:url] %>" target="_blank">
            <img src="<%= image_path "partners/#{PARTNERS[partner][:image_name]}" %>"
                 alt="<%= PARTNERS[partner][:name] %>"
                 data-toggle="tooltip" title="<%= PARTNERS[partner][:name]%>" data-placement="bottom">
          </a>
        </div>
      <% end %>

      <div class="col-xs-12 col-md-3 col-lg-2 text-justify">
        <p><%= t "city.partner_join_html" %></p>
        <p><a href="mailto:contact@lewagon.org">contact@lewagon.org</a></p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="apply text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="box center">
          <h3><%= t "city.get_onboard", city: @city[:name] %></h3>
          <a href="<%= apply_path %>" class="btn btn-primary red-btn">
            <%= t("apply_now").upcase %>
          </a>
          <% if I18n.locale == :fr %>
            <br/><br/>
            <p><%= t "still_some_questions"%> <a href="<%= faq_path %>">FAQ</a></p>
          <% end %>
          <%# TODO: Add a link to FAQ in english once localized %>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-image: url('<%= image_path @city[:images][:bottom] %>'); background-size: cover; height: 400px;">
</div>