<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4>Le Wagon</h4>
        <ul class="list-unstyled">
          <!-- <li><a href="/staff">Staff</a></li> -->
          <li><a href="<%= alumni_path %>">Alumni</a></li>
          <li><a href="<%= program_path %>"><%= t "menu.program" %></a></li>
          <li><a href="<%= apply_path %>"><%= t "menu.apply" %></a></li>
          <li><a href="mailto:contact@lewagon.org">Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4><%= t "menu.cities" %></h4>
        <ul class="list-unstyled">
          <% CITIES.each do |slug, city| %>
            <li>
              <a href="/<%= slug %>"><%= city[:name] %></a>
            </li>
          <% end %>
          <li><a href="http://surfcamp.lewagon.org">Soustons</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4><%= t "swith_language_title" %></h4>
        <ul class="list-unstyled">
          <li>
            <a href="<%= current_path(:en) %>">English</a>
          </li>
          <li>
            <a href="<%= current_path(:fr) %>">Français</a>
          </li>
        </ul>

        <% if @city and @city[:credits] %>
            <br/>
            <h4><%= t "credits" %></h4>
            <ul class="list-unstyled">
              <% @city[:credits].each do |credit| %>
                  <li>
                    <a target="_blank" href="<%= credit[:link] %>"><%= credit[:label] %></a>
                  </li>
              <% end %>
            </ul>
        <% end %>

      </div>
      <div class="col-sm-3">
        <ul class="list-inline social text-center">
          <li>
            <a href="https://twitter.com/lewagonparis">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/lewagonformation">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/lewagon">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UChCDYcBCrb8tuPAO6e0P-Hw">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>