<% content_for(:title) do %>
  Le Wagon - <%= t "home.title" %>
<% end %>
<% content_for(:description) do %>
  <%= t "home.description" %>
<% end %>

<div id="banner-wrapper">

  <div id="banner">

      <div id="base-box">
        <h1><%= t "home.banner" %></h1>
        <a href="http://fast.wistia.net/embed/iframe/9vb45twa62?videoWidth=710&amp;videoHeight=432&amp;controlsVisibleOnLoad=true&amp;autoPlay=true&amp;popover=true" class="wistia-popover[width=710,height=432,playerColor=#636155]">
          <div id="play-button"></div>
        </a>
        <script charset="ISO-8859-1" src="http://fast.wistia.net/static/popover-v1.js"></script>
      </div>

      <div id="nl-box">
        <%= t "newsletter.teaser" %>
        <%= erb :mailchimp_form %>
      <div>

        <div class="fb-like" data-href="https://www.facebook.com/lewagonformation" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=170809313078160&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
          <a href="https://twitter.com/Lewagonparis" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false">Follow</a>
        </div>
      </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <h2><%= t "home.two_months" %></h2>
      <p><%= t "home.to_become_developper" %></p>
    </div>
    <div class="col-sm-4">
      <h2><%= t "home.hundred_percent" %></h2>
      <p><%= t "home.concrete_projects_built" %></p>
    </div>
    <div class="col-sm-4">
      <h2>1200</h2>
      <p><%= t "home.coders_trained_at_lewagon" %></p>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2><a href="/programme" class="arrow-link"><%= t "home.program_in_details_uppercase" %> <i class="fa fa-angle-double-right"></i></a></h2>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <%= erb :testimonials %>

  <div class="vertical-spacer"></div>

  <div class="row">
    <div class="col-xs-12">
      <h2><a href="/alumni"   class="arrow-link"><%= t "home.see_the_projects" %> <i class="fa fa-angle-double-right"></i></a></h2>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-inner-md-padded">
          <h2>POWERED BY LE WAGON</h2>
          <p>
            <%= t "home.events_by_le_wagon" %>
          </p>
          <table>
            <tr>
              <td><img src="<%= image_path 'logos/wde.png' %>" alt="web design"></td>
              <td class="desc">
                <p>Web-Design Express - <strong>8-19 Septembre</strong></p>
                <p>12 jours pour apprendre à designer et créer son site web.</p>
                <a href="http://www.web-design-express.org">+ de détails <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
            <tr>
              <td><img src="<%= image_path 'logos/surfcamp.png' %>" alt="surf camp"></td>
              <td class="desc">
                <p>Code & Surf Camp - <strong>8-21 Septembre</strong></p>
                <p>2 semaines de code et de surf avec des devs pro.</p>
                <a href="http://surfcamp.lewagon.org">+ de détails <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
            <tr>
              <td><img src="<%= image_path 'logos/cetetejecode.png' %>" alt="cet ete je code"></td>
              <td class="desc">
                <p>Cet été je code</p>
                <p>Cours en-ligne de front-end</p>
                <a href="http://www.cetetejecode.fr">+ de détails <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
          </table>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="col-inner-md-padded">
          <a class="twitter-timeline" href="https://twitter.com/Lewagonparis" data-widget-id="372292161472974848">Tweets of @Lewagonparis</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row" id="cursus">

    <div class="col-sm-6">
      <div class="col-inner-md-padded">
        <h2 class="star-title">
          <span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star" class="inline-img">
            LE WAGON
            <img src="<%= image_path 'icons/star.svg' %>" alt="star">
          </span>
        </h2>

        <p class="text-justify"><%= t "home.who_we_are" %></p>
        <p class="text-justify"><%= t "home.what_we_do" %></p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-inner-md-padded">
        <h2 class="star-title">
          <span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star" class="inline-img">
            <%= t "home.we_teach_upcase" %>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star">
          </span>
        </h2>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/html.png' %>" class="techno" alt="HTML5">
          </div>
          <div class="col-sm-9">
            <%= t "home.ruby_hacking" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/ruby.png' %>" class="techno" alt="Ruby on Rails">
          </div>
          <div class="col-sm-9">
            <%= t "home.oop_and_rails" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/js.png' %>" class="techno" alt="JavaScript">
          </div>
          <div class="col-sm-9">
            <%= t "home.database_and_js" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/git.png' %>" class="techno" alt="Git & GitHub">
          </div>
          <div class="col-sm-9">
            <%= t "home.coding_best_practices" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="vertical-spacer"></div>


<!-- TODO:
<!-- <div id="meetus" class="center">
  <h2>MEET LE WAGON</h2>
</div> -->

