<% content_for(:title) do %>
  <%= t "home.title" %>
<% end %>
<% content_for(:description) do %>
  <%= t "home.description" %>
<% end %>

<div id="banner-wrapper">

  <div id="banner">

      <div id="base-box">
        <h1><%= t "home.banner" %></h1>
        <a href="http://fast.wistia.net/embed/iframe/9vb45twa62?videoWidth=710&amp;videoHeight=432&amp;controlsVisibleOnLoad=true&amp;autoPlay=true&amp;popover=true" class="wistia-popover[width=710,height=432,playerColor=#636155]">
          <div id="play-button"></div>
        </a>
        <script charset="ISO-8859-1" src="http://fast.wistia.net/static/popover-v1.js"></script>
      </div>

      <div id="nl-box">
        <%= t "newsletter.teaser" %>
        <%= erb :mailchimp_form %>

        <div>
          <div class="fb-like" data-href="https://www.facebook.com/lewagonformation" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=170809313078160&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
          </script>
          <a href="https://twitter.com/Lewagonparis" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false">Follow</a>
        </div>
      </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <h2><%= t "home.two_months" %></h2>
      <p><%= t "home.to_become_developper" %></p>
    </div>
    <div class="col-sm-4">
      <h2><%= t "home.hundred_percent" %></h2>
      <p><%= t "home.concrete_projects_built" %></p>
    </div>
    <div class="col-sm-4">
      <h2>1200</h2>
      <p><%= t "home.coders_trained_at_lewagon" %></p>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2><a href="<%= program_path %>" class="arrow-link"><%= t "home.program_in_details_uppercase" %> <i class="fa fa-angle-double-right"></i></a></h2>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <%= erb :testimonials %>

  <div class="vertical-spacer"></div>

  <div class="row">
    <div class="col-xs-12">
      <h2><a href="<%= alumni_path %>"   class="arrow-link"><%= t "home.see_the_projects" %> <i class="fa fa-angle-double-right"></i></a></h2>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div id="news">
  <div class="container">
    <div class="vertical-spacer"></div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <img src="<%= image_path 'icons/tapas.png' %>" alt="tapas" width="200px">
        <br><br>
        <p class="text-justify">Our tapas are technical apetizers of <strong>1-week</strong> to boost your skills in specific fields (<strong>webdesign</strong>, <strong>data analysis & visualisation</strong>, <strong>UX</strong>, <strong>iOS</strong>). Some of these programs may have technical pre-requisites.</p>
      </div>
    </div>

    <div class="vertical-spacer"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="panel panel-default panel-booster">
          <!-- Default panel contents -->
          <div class="ribbon ribbon-red">
              <div class="banner">
                  <div class="text">6 places left</div>
              </div>
          </div>


          <div class="round-icon yellow1 brandon-medium">
            WEB <br> DESIGNER
          </div>

          <!-- Table -->
          <table class="table">
            <tr>
              <ul>
                <li>Web-design basics</li>
                <li>HTML, CSS, JS & Bootstrap</li>
                <li>Integrating web-services</li>
              </ul>
            </tr>
            <tr>
              <p class="darkgrey" style="margin-top:-10px;margin-bottom:30px"><strong>beginners</strong></p>
            </tr>
            <tr>
              <a href="#" class="btn btn-default yellow">more details</a>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="panel panel-default panel-booster">
          <!-- Default panel contents -->

          <div class="round-icon yellow2 brandon-medium">
            DATA <br> GEEK
          </div>

          <!-- Table -->
          <table class="table">
            <tr>
              <ul>
                <li>Get data (API, scraping)</li>
                <li>Dataviz best practices</li>
                <li>D3.js library</li>
              </ul>
            </tr>
            <tr>
              <p class="darkgrey" style="margin-top:-10px;margin-bottom:30px"><strong>background in Javascript</strong></p>
            </tr>
            <tr>
              <a href="#" class="btn btn-default white">I am interested</a>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="panel panel-default panel-booster">
          <!-- Default panel contents -->

          <div class="round-icon yellow3 brandon-medium">
            iOS <br> MAN
          </div>

          <!-- Table -->
          <table class="table">
            <tr>
              <ul>
                <li>Guidelines in mobile design</li>
                <li>Swift programming</li>
                <li>Realisation of an realife-app</li>
              </ul>
            </tr>
            <tr>
              <p class="darkgrey" style="margin-top:-10px;margin-bottom:30px"><strong>background in CS</strong></p>
            </tr>
            <tr>
              <a href="#" class="btn btn-default white">I am interested</a>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="panel panel-default panel-booster">
          <!-- Default panel contents -->

          <div class="round-icon yellow4 brandon-medium">
            PRODUCT <br> GURU
          </div>

          <!-- Table -->
          <table class="table">
            <tr>
              <ul>
                <li>Spec-ing your product</li>
                <li>UX best practices</li>
                <li>Mockup tools</li>
              </ul>
            </tr>
             <tr>
              <p class="darkgrey" style="margin-top:-10px;margin-bottom:30px"><strong>beginners</strong></p>
            </tr>
            <tr>
              <a href="#" class="btn btn-default white">I am interested</a>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-spacer"></div>

</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row" id="cursus">

    <div class="col-sm-6">
      <div class="col-inner-md-padded">
        <h2 class="star-title">
          <span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star" class="inline-img">
            <span>LE WAGON</span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star">
          </span>
        </h2>

        <p class="text-justify"><%= t "home.who_we_are" %></p>
        <p class="text-justify"><%= t "home.what_we_do" %></p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-inner-md-padded">
        <h2 class="star-title">
          <span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star" class="inline-img">
            <%= t "home.we_teach_upcase" %>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star">
          </span>
        </h2>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/html.png' %>" class="techno" alt="HTML5">
          </div>
          <div class="col-sm-9">
            <%= t "home.ruby_hacking" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/ruby.png' %>" class="techno" alt="Ruby on Rails">
          </div>
          <div class="col-sm-9">
            <%= t "home.oop_and_rails" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/js.png' %>" class="techno" alt="JavaScript">
          </div>
          <div class="col-sm-9">
            <%= t "home.database_and_js" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/git.png' %>" class="techno" alt="Git & GitHub">
          </div>
          <div class="col-sm-9">
            <%= t "home.coding_best_practices" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="vertical-spacer"></div>


<!-- TODO:
<!-- <div id="meetus" class="center">
  <h2>MEET LE WAGON</h2>
</div> -->

