<% content_for(:title) do %>
  Le Wagon - Apprenez à coder !
<% end %>
<% content_for(:description) do %>
  Le Wagon, c'est une formation au développement web en 9 semaines spécialement conçue pour les débutants. Venez acquérir vos super-pouvoirs !
<% end %>

<div id="banner-wrapper">

  <div id="banner">

      <div id="base-box">
        <h1>APPRENEZ À CODER</h1>
        <a href="http://fast.wistia.net/embed/iframe/9vb45twa62?videoWidth=710&amp;videoHeight=432&amp;controlsVisibleOnLoad=true&amp;autoPlay=true&amp;popover=true" class="wistia-popover[width=710,height=432,playerColor=#636155]">
          <div id="play-button"></div>
        </a>
        <script charset="ISO-8859-1" src="http://fast.wistia.net/static/popover-v1.js"></script>
      </div>

      <div id="nl-box">
        <p>Soyez informé des prochaines <strong>masterclasses</strong>, recevez nos <strong>vidéos</strong> & <strong>blogposts</strong> techniques.</p>
        <%= erb :mailchimp_form %>
      <div>

        <div class="fb-like" data-href="https://www.facebook.com/lewagonformation" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=170809313078160&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
          <a href="https://twitter.com/Lewagonparis" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false">Follow</a>
        </div>
      </div>
  </div>

</div>


<div class="vertical-spacer"></div>


<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <h2>1 - 2</h2>
      <p>Années de <strong>gagnées</strong> pour acquérir une véritable autonomie technique</p>
    </div>
    <div class="col-sm-4">
      <h2>100%</h2>
      <p>Des entrepreneurs formés au Wagon ont lancé leur produit à l'issue de la formation</p>
    </div>
    <div class="col-sm-4">
      <h2>80</h2>
      <p>Alumni, entrepreneurs et développeurs professionnels ont déjà rejoint le Wagon</p>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2><a href="/programme" class="arrow-link">PROGRAMME EN DÉTAILS <i class="fa fa-angle-double-right"></i></a></h2>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <%= erb :testimonials %>

  <div class="vertical-spacer"></div>

  <div class="row">
    <div class="col-xs-12">
      <h2><a href="/alumni"   class="arrow-link">voir les projets <i class="fa fa-angle-double-right"></i></a></h2>
    </div>
  </div>

</div>

<div class="vertical-spacer"></div>


<div id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-inner-sm-padded">
          <h2>POWERED BY LE WAGON</h2>
          <p>
            Se former en douze samedis au web-design. Passer quinze jours dans une surfhouse avec des développeurs pro. Prendre des cours en ligne de front-end. Assister à nos masterclasses du Jeudi soir..
          </p>
          <p><strong>Pour plus d'infos sur nos évènements, c'est ici !</strong></p>

          <table>
            <tr>
              <td><img src="<%= image_path 'logos/wde.png' %>" alt="web design"></td>
              <td class="desc">
                <p>Web-Design Express - <strong>7 Septembre</strong></p>
                <p>12 jours pour apprendre à designer et créer son site web.</p>
                <a href="http://www.web-design-express.org">+ de détails <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
            <tr>
              <td><img src="<%= image_path 'logos/surfcamp.png' %>" alt="surf camp"></td>
              <td class="desc">
                <p>Surf Camp - <strong>7 Septembre</strong></p>
                <p>2 semaines de code et de surf avec des devs pro.</p>
                <a href="http://surfcamp.lewagon.org">+ de détails <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
            <tr>
              <td><img src="<%= image_path 'logos/cetetejecode.png' %>" alt="cet ete je code"></td>
              <td class="desc">
                <p>Cet été je code</p>
                <p>Cours en-ligne de front-end</p>
                <a href="http://www.cetetejecode.fr">+ de détails <i class="fa fa-angle-double-right"></i></a>
              </td>
            </tr>
          </table>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="col-inner-sm-padded">
          <a class="twitter-timeline" href="https://twitter.com/Lewagonparis" data-widget-id="372292161472974848">Tweets de @Lewagonparis</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row" id="cursus">

    <div class="col-sm-6">
      <div class="col-inner-sm-padded">
        <h2 class="star-title">
          <span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star" class="inline-img">
            LE WAGON
            <img src="<%= image_path 'icons/star.svg' %>" alt="star">
          </span>
        </h2>

        <p class="text-justify">Portées par les évolutions technologiques, les entreprises du numérique innovent, inventant tous les jours de nouveaux produits. La formation a parfois un wagon de retard... Les jeunes diplômés, ayant pourtant une vraie soif d'apprendre, n'ont pas toujours le bagage technique suffisant pour intéresser des recruteurs ou se lancer sur des projets personnels.</p>
        <p class="text-justify">A travers des formations complémentaires en programmation web, allant du cours d'initiation au programme immersif de 2 mois, le wagon veut permettre à ces jeunes talents de devenir des acteurs de l'innovation.</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-inner-sm-padded">
        <h2 class="star-title">
          <span>
            <img src="<%= image_path 'icons/star.svg' %>" alt="star" class="inline-img">
            NOUS ENSEIGNONS
            <img src="<%= image_path 'icons/star.svg' %>" alt="star">
          </span>
        </h2>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/html.png' %>" class="techno" alt="HTML5">
          </div>
          <div class="col-sm-9">
            L'algorithmique dans le langage ruby & les techniques de growth hacking (<strong>scraping</strong>,
            interrogation d'<strong>APIs</strong>). Nous appliquons de manière pragmatique
            le code aux problèmes des entrepreneurs.
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/ruby.png' %>" class="techno" alt="Ruby on Rails">
          </div>
          <div class="col-sm-9">
            Les concepts objet et les <i>design patterns</i> classiques
            (<strong>MVC</strong>, <strong>Page-Controller</strong>)</strong>,
            notions-clefs pour prendre en main n'importe quel nouveau framework web.
            <strong>Ruby on Rails</strong> nous permet de prototyper très vite n'importe quelle idée.
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/js.png' %>" class="techno" alt="JavaScript">
          </div>
          <div class="col-sm-9">
            La modélisation de bases de données SQL, l'intégration de librairies <strong>open-source</strong> (<i>fileupload</i>, géolocalisation, authentification, paiement, Oauth, etc.)
            et la programmation côté navigateur avec <strong>JavaScript</strong> et <strong>AJAX</strong>.
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 hidden-xs text-center">
            <img src="<%= image_path 'icons/git.png' %>" class="techno" alt="Git & GitHub">
          </div>
          <div class="col-sm-9">
            Les <em>best practices</em> de developpement web (<strong>collaboration sur Github</strong>, <em>versionning</em> de code, <strong>déploiement continu sur Heroku</strong>, gestion des photos sur <strong>Amazon S3</strong>,
            envoi de mail avec SMTP externe comme <strong>Mandrill</strong>, etc.)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="vertical-spacer"></div>


<!-- TODO:
<!-- <div id="meetus" class="center">
  <h2>MEET LE WAGON</h2>
</div> -->

