<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/<%= I18n.locale %>">
        <img src="<%= image_path 'logo.png' %>" id="logo" alt="Le Wagon">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown with-underline">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "menu.program" %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="list-divider">9-WEEKS CAMP</li>
            <li>
              <a href="<%= program_path %>">Full-Stack Bootcamp</a>
            </li>
            <li class="list-divider">1-WEEK CAMPS</li>
            <% BOOSTERS.each do |slug, booster| %>
              <li>
                <a href="/programme/<%= slug %>"><%= booster[:name] %></a>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown with-underline">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "menu.cities" %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% CITIES.each do |slug, city| %>
              <li>
                <a href="<%= send(:"#{slug}_path") %>"><%= city[:name] %></a>
              </li>
            <% end %>
            <li>
              <a href="mailto:contact@lewagon.org">
                <%= t "menu.bring_it" %>
              </a>
            </li>
          </ul>
        </li>
        <li class="with-underline">
          <a href="<%= alumni_path %>"><%= t "menu.projects" %></a>
        </li>
        <li class="with-underline">
          <a href="/blog">Blog</a>
        </li>
        <li class="with-underline">
          <a href="<%= faq_path %>">FAQ</a>
        </li>
        <li class="dropdown with-underline" id="last-link">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="<%= current_path(:en) %>">English</a>
            </li>
            <li>
              <a href="<%= current_path(:fr) %>">Français</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="<%= apply_path %>" class="btn btn-primary" id="nav-btn"><%= t "menu.apply" %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>