<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @post.metadata[:title] %></h1>
      <p>Écrit par <a href="https://twitter.com/<%= @post.metadata[:twitter] %>" target="_blank"><%= @post.metadata[:author] %></a></p>
      <article class="blog-post">
        <%= @post.content %>
      </article>
    </div>
    <!-- <div class="col-md-4">
      <%= erb :blog_aside %> -->
    </div>
  </div>
</div>