<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<% content_for(:description) do %>
  <%= @post.metadata[:description] %>
<% end %>

<% content_for(:image_url) do %>
  <%= asset_path "blog/#{@post.metadata[:thumbnail]}" if @post.metadata[:thumbnail] %>
<% end %>

<div id="blog-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h1><%= @post.metadata[:title] %></h1>
        <%= erb :written_by, locals: { post: @post, date_format: :long } %>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="blog-post">
        <%= @post.content %>
      </article>
    </div>
  </div>
</div>

<%= erb :share %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= @pushed_posts.sample(2).each do |post| %>
        <div class="col-md-6">
          <article class="postcard element">
            <% post.metadata[:thumbnail] %>
            <a href="/blog/<%= post.slug %>" class="link-img" style="background-image: url('<%= asset_path "blog/#{post.metadata[:thumbnail]}" %>')"></a>
            <a href="/blog/<%= post.slug %>"><%= post.metadata[:title] %></a>
            <a href="/blog/<%= post.slug %>" class="link-post"><i class="fa fa-search"></i>  <%= t "blog.read_article" %></a>
          </article>
        </div>
      <%= end %>
    </div>
  </div>
</div>

<!-- <div class="blog-comment">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%# erb :disqus %>
    </div>
  </div>
</div> -->

