<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @post.metadata[:title] %></h1>
      <% if @post.metadata[:author] %>
      <p>Écrit par <a href="https://twitter.com/<%= AUTHORS[@post.metadata[:author].to_sym][:twitter] %>" target="_blank"><%= AUTHORS[@post.metadata[:author].to_sym][:name] %></a></p>
      <% end %>
      <article class="blog-post">
        <%= @post.content %>
      </article>
    </div>
    <div class="col-md-4">
      <%= erb :blog_aside %>
    </div>
  </div>
</div>