<% content_for(:title) do %>
  Le Wagon - <%= t "apply.title" %>
<% end %>
<% content_for(:description) do %>
  <%= t "apply.description" %>
<% end %>

<div id="postulate-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= t "apply.banner" %></h1>
        <div class="vertical-spacer"></div>
        <ul class="list-inline">
          <li>html & css<img src="<%= image_path 'icons/html.png' %>" alt="html"></li>
          <li>ruby & Rails<img src="<%= image_path 'icons/ruby.png' %>" alt="ruby"></li>
          <li>javascript<img src="<%= image_path 'icons/js.png' %>" alt="js"></li>
          <li>git & Github <img src="<%= image_path 'icons/git.png' %>" alt="git"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="goal">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= t "apply.lead" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <form action="/apply" method="post" role="form">
        <% if @error %>
        <div class="alert alert-danger" role="alert">
          <%= t 'apply.form.error' %>
        </div>
        <% end %>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="first_name"><%= t "apply.form.first_name" %></label>
              <input class="form-control" type="text" name="first_name" id="first_name" placeholder="John" value="<%= params[:first_name] %>" required>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="last_name"><%= t "apply.form.last_name" %></label>
              <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Doe" value="<%= params[:last_name] %>" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email"><%= t "apply.form.email" %></label>
          <input class="form-control" type="email" name="email" id="email" placeholder="john@doe.org" value="<%= params[:email] %>" required>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="email"><%= t "apply.form.phone" %></label>
              <input class="form-control" type="tel" name="phone" id="phone" placeholder="+33123456789" value="<%= params[:phone] %>" required>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="age"><%= t "apply.form.age" %></label>
              <input class="form-control" type="text" name="age" id="age" placeholder="42" value="<%= params[:age] %>"  required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label><%= t "apply.form.choose_camp" %></label>
          <% ACTIVE_CAMPS.each do |slug, camp| %>
            <% if camp[:full] %>
              <div class="radio disabled">
                <label>
                  <input type="radio" name="camp" disabled>
                  <strike>
                    <strong><%= camp[:city].capitalize %></strong>,
                    <small>
                      <% format = :short #camp[:start_date].year == Time.now.year ? :short : :long %>
                      <%= t "apply.form.choose_camp_radio_label_html",
                            start_date: l(camp[:start_date], format: format),
                            end_date: l(camp[:end_date], format: format) %></small></strike>
                  <small style="margin-left: 2px">
                    <span class="label label-danger"><%= t "apply.form.booked" %></span>
                  </small>
                </label>
              </div>
            <% else %>
              <div class="radio">
                <label>
                  <input type="radio" name="camp" value="<%= slug %>" required>
                  <strong><%= camp[:city].capitalize %></strong>,
                  <small>
                    <% format = :short #camp[:start_date].year == Time.now.year ? :short : :long %>
                    <%= t "apply.form.choose_camp_radio_label_html",
                          start_date: l(camp[:start_date], format: format),
                          end_date: l(camp[:end_date], format: format) %>
                    <% if camp[:last_seats] %>
                      <span class="label label-warning"><%= t "apply.form.last_seats" %></span>
                    <% end %>
                  </small>
                </label>
              </div>
            <% end %>
          <% end %>
          </label>
        </div>

        <div class="form-group">
          <label for="motivation"><%= t "apply.form.motivation" %></label>
          <textarea class="form-control" name="motivation" id="motivation" rows="4" required><%= params[:motivation] %></textarea>
        </div>

        <div class="form-group">
          <span class="help-block">
            <%= t "apply.form.price_html", price: 3900 %>
          </span>
        </div>

        <button class="btn btn-primary red-btn" style="width: 100%"><%= t "apply.form.apply_button" %></button>
      </form>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <%= erb :testimonials %>
</div>

<div class="vertical-spacer"></div>
