<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<% content_for(:description) do %>
  <%= @post.metadata[:description] %>
<% end %>

<% content_for(:image_url) do %>
  <%= asset_path "blog/#{@post.metadata[:thumbnail]}" if @post.metadata[:thumbnail] %>
<% end %>

<div id="blog-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
        <h1><%= @post.metadata[:title] %></h1>
        <%= erb :written_by, locals: { post: @post, date_format: :long } %>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="blog-post">
        <%= @post.content %>
      </article>
    </div>
  </div>
</div>

<%= erb :share %>


<div class="blog-comment">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= erb :disqus %>
    </div>
  </div>
</div>

