<% @posts.each do |post| %>
  <div class="col-md-4 index js-post">
    <article>
      <h2>
        <a href="/blog/<%= post.slug %>">
          <%= post.metadata[:title] %>
        </a>
      </h2>
      <% if post.metadata[:author] %>
      <p>
        Écrit par <a href="https://twitter.com/<%= AUTHORS[post.metadata[:author].to_sym][:twitter] %>" target="_blank"><%= AUTHORS[post.metadata[:author].to_sym][:name] %></a>
      </p>
      <% end %>
      <% if post.metadata[:description] %>
        <p><%= post.metadata[:description] %>
        <a href="/blog/<%= post.slug %>">
          Lire la suite
          <i class="fa fa-angle-double-right"></i>
        </a>
        </p>
      <% end %>
      <% if post.metadata[:thumbnail] %>
        <a href="/blog/<%= post.slug %>">
          <img src="<%= asset_path "blog/#{post.metadata[:thumbnail]}" %>">
        </a>
      <% end %>
    </article>
  </div>
<% end %>