<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @post.metadata[:title] %></h1>
      <p>Écrit par <a href="https://twitter.com/<%= @author[:twitter] %>" target="_blank"><%= @author[:name] %></a></p>
      <article class="blog-post">
        <%= @post.content %>
      </article>
    </div>
    <div class="col-md-4">
      <%= erb :blog_aside %>
    </div>
  </div>
</div>