<% content_for(:title) do %>
  Le Wagon - Programme
<% end %>

<div id="program-banner" class="sub-banner">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1>Devenez <strong>développeur web</strong> en 9 semaines</h1>
        <div class="vertical-spacer"></div>
        <ul class="list-inline">
          <li>html & css<img src="<%= image_path 'icons/html.png' %>" alt="html"></li>
          <li>ruby & Rails<img src="<%= image_path 'icons/ruby.png' %>" alt="ruby"></li>
          <li>javascript<img src="<%= image_path 'icons/js.png' %>" alt="js"></li>
          <li>git & Github <img src="<%= image_path 'icons/git.png' %>" alt="git"></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="program-keys">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>NOTRE OBJECTIF</h2>
        <p>Notre programme est conçu pour les débutants ou "faux débutants" qui souhaitent acquérir une véritable autonomie technique mais surtout un <strong>nouveau mindset</strong>. Penser comme un développeur, voir les problématiques sous un nouvel angle et libérer sa créativité grâce au code. Notre unique objectif est de vous faire atteindre ce niveau et vous ouvrir un univers de possibilités :

        <ul>
          <li>Devenir un entrepreneur d'exception, capable de coder son appli web & maitrisant les enjeux techniques.</li>
          <br/>
          <li>Trouver un poste dans une entreprise du numérique avec ces nouvelles compétences-clef (en développement, product management, marketing, growth hacking..).</li>
        </ul>

      </div>
      <div class="col-xs-6">
        <img src="<%= image_path 'pictures/live-code-group.png' %>" alt="Live Code Group">
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-xs-6">
        <img src="<%= image_path 'pictures/live-code.png' %>" alt="Live Code Retro">
      </div>
      <div class="col-xs-6">
        <h2>POURQUOI LE WAGON</h2>
        <p>
          N'importe qui peut apprendre à coder seul avec des ressources en ligne. Seulement c'est long et pénible : on tâtonne & on passe du temps devant stack overflow alors qu'on a envie de se lancer sur des projets concrets.
        </p>
        <p>
          Le programme vous plongera dans un ecosystème ultra-stimulant ou vous apprendrez dix fois plus vite. <strong>Surtout, vous apprendrez ce qui ne s'apprend pas en ligne</strong> : le set-up d'un codeur, les bonnes pratiques de développement web, les techniques de modélisation d'une architecture logicielle, d'une base de données. Pour résumer, <strong>vous apprendrez à passer d'un problème réel à un problème technique</strong>.
        </p>
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-xs-6">
        <h2>JOIN THE COMMUNITY</h2>
        <p>
          A la fin de la formation, vous saurez transformer vos idées en produits, vous aurez codez plusieurs appli web et aurez un portfolio de votre travail sur Github.
        </p>
        <p>
          Vous ferez surtout partie d'une communauté hyperactive : 80 anciens élèves, 8 professeurs, 12 mentors, 7 startups d'anciens déjà créées, des apero-talks tous les jeudi-soirs avec des intervenants de haut-niveau, <strong>un suivi technique des projets post-formation</strong>.
        </p>
        <p>
          Développeur, entrepreneurs, incubateurs, vous rejoindrez une communauté de passionnés, qui s'entraide et vous apportera de belles opportunités.
        </p>
      </div>
      <div class="col-xs-6">
        <img src="<%= image_path 'pictures/masterclass.png' %>" alt="Apero Talk">
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-xs-6">
        <img src="<%= image_path 'pictures/yoga.jpg' %>" alt="Yoga">
      </div>
      <div class="col-xs-6">
        <h2>SPIRIT</h2>
        <p>Les professeurs du Wagon sont tous des entrepreneurs web (Taster's club, Sylights, Txto), ayant une "expérience terrain" du code, et sachant sur quelles notions il faut mettre l'accent.</p>

        <p>Chaque participant est également encadré par un mentor, un développeur professionnel qui vous suit sur vos projets personnel, et avec qui vous bâtissez une relation privilégiée.</p>

        <p>Bon, et on fait aussi du yoga le jeudi avec Claire. Pour se vider la tête.</p>
      </div>
    </div>
  </div>
</div>


<div class="apply" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="box center" style="background-color: white;">
          <h3>Vous voulez embarquer ?</h3>
          <a href="/postuler" class="btn btn-primary red-btn">
            POSTULEZ MAINTENANT
          </a>
          <br/><br/>
          <p>Vous voulez plus de détails ? Vous pouvez lire les <a href="/faq">FAQ</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="daily-schedule">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h2>JOURNÉE-TYPE</h2>
        <table>
          <tr>
            <td>
              <img src="<%= image_path 'icons/live-code.png' %>">
            </td>
            <td>
              <p><strong>9h</strong> - introduction théorique et live-code projetés des professeurs sur des exemples concrets.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/pair-programming.png' %>">
            </td>
            <td>
              <p><strong>10h - 12h30</strong> - challenges en binôme ou par groupe sur la plateforme autocorrigée du Wagon, encadrés par les professeurs.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/lunch.png' %>">
            </td>
            <td>
              <p><strong>12h30 - 14h</strong> - déjeuner (avec <i>lightning talk</i> sur des sujets tech, e.g. hardware, dataviz, etc.).</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/pair-programming.png' %>">
            </td>
            <td>
              <p><strong>14h - 17h30</strong> - poursuite des challenges avec ré-explication des notions-clefs.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/apero.png' %>">
            </td>
            <td>
              <p><strong>19h</strong> - Selon la journée, séance de soutien, mentoring sur les projets, masterclasses (derniers invités: Romain Niccoli - CTO Criteo, Ludovic Le Moan - CEO Sigfox..), meetup, dîners, évènements divers & variés.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="weekly-schedule">
  <div class="container">
    <h2>PAR SEMAINE</h2>
    <br/>
    <div class="row" id="days">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">1-2</div>
        <p>Algorithmique en ruby</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">3</div>
        <p>Programmation orienté-objet</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">4</div>
        <p>Base de données SQL et ORM</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">5</div>
        <p>Front-End (HTML/CSS/Javascript)</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">6-7</div>
        <p>Rails</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">8-9</div>
        <p>Projets</p>
      </div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2">
        <div id="last" class="number"><strong>1-9</strong></div>
      </div>
      <div class="col-xs-6">
        <p class="justify"><strong>Best practices</strong> - Tout au long des 9 semaines, les élèves apprendront les best practices de développement web (techniques de versionning et de collaboration sur Github, déploiement continu et scaling d'une application web sur heroku, gestion des photos sur Amazon S3, etc.)</p>
      </div>
    </div>
  </div>
</div>
