<% content_for(:title) do %>
  Le Wagon - <%= t "program.title" %>
<% end %>
<% content_for(:description) do %>
  <%= t "program.description" %>
<% end %>

<div id="program-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1><%= t "program.teaser" %></h1>
        <div class="vertical-spacer"></div>
        <ul class="list-inline">
          <li>html & css<img src="<%= image_path 'icons/html.png' %>" alt="html"></li>
          <li>ruby & Rails<img src="<%= image_path 'icons/ruby.png' %>" alt="ruby"></li>
          <li>javascript<img src="<%= image_path 'icons/js.png' %>" alt="js"></li>
          <li>git & Github <img src="<%= image_path 'icons/git.png' %>" alt="git"></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="program-keys">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2><%= t "program.our_goal" %></h2>
        <p><%= t "program.our_goal_detailed" %></p>

        <ul>
          <li>
            <%= t "program.be_a_great_entreprener" %>
          </li>
          <br/>
          <li>
            <%= t "program.find_a_job" %>
          </li>
        </ul>

      </div>
      <div class="col-sm-6">
        <img src="<%= image_path 'pictures/live-code-group.jpg' %>" alt="Live Code Group">
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-sm-6">
        <img src="<%= image_path 'pictures/live-code.jpg' %>" alt="Live Code Retro">
      </div>
      <div class="col-sm-6">
        <h2><%= t "program.why" %></h2>
        <p>
          <%= t "program.rationale" %>
        </p>
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-sm-6">
        <h2><%= t "program.join_the_community" %></h2>
        <p><%= t "program.le_wagon_community" %></p>
      </div>
      <div class="col-sm-6">
        <img src="<%= image_path 'pictures/masterclass.jpg' %>" alt="Apero Talk">
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
      <div class="col-sm-6">
        <img src="<%= image_path 'pictures/yoga.jpg' %>" alt="Yoga">
      </div>
      <div class="col-sm-6">
        <h2><%= t "program.the_spirit" %></h2>
        <p><%= t "program.le_wagon_spirit" %></p>
      </div>
    </div>
  </div>
</div>

<%= erb :apply %>

<div id="daily-schedule" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>JOURNÉE-TYPE</h2>
        <table>
          <tr>
            <td>
              <img src="<%= image_path 'icons/live-code.png' %>">
            </td>
            <td>
              <p><strong>9h</strong> - introduction théorique & live-code des professeurs projeté sur grand écran.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/pair-programming.png' %>">
            </td>
            <td>
              <p><strong>10h - 12h30</strong> - challenges en binôme ou par groupe sur la plateforme autocorrigée du Wagon, encadrés par les professeurs.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/lunch.png' %>">
            </td>
            <td>
              <p><strong>12h30 - 14h</strong> - déjeuner (avec <i>lightning talk</i> sur des sujets tech, e.g. hardware, dataviz, etc.).</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/pair-programming.png' %>">
            </td>
            <td>
              <p><strong>14h - 17h30</strong> - poursuite des challenges avec ré-explication des notions-clefs.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img src="<%= image_path 'icons/apero.png' %>">
            </td>
            <td>
              <p><strong>19h</strong> - Selon la journée, séance de soutien, mentoring sur les projets, masterclasses (derniers invités: Romain Niccoli - CTO Criteo, Ludovic Le Moan - CEO Sigfox..), meetup, dîners, évènements divers & variés.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="weekly-schedule" class="text-center">
  <div class="container">
    <h2>PAR SEMAINE</h2>
    <br/>
    <div class="row text-center">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">1-2</div>
        <p>Algorithmique en ruby</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">3</div>
        <p>Programmation orientée-objet</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">4</div>
        <p>Base de données SQL et ORM</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">5</div>
        <p>Front-End (HTML/CSS/Javascript)</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">6-7</div>
        <p>Rails</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="number">8-9</div>
        <p>Projets</p>
      </div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2">
        <div id="last" class="number"><strong>1-9</strong></div>
      </div>
      <div class="col-sm-6">
        <p class="text-justify"><strong>Best practices</strong> - Tout au long des 9 semaines, les élèves apprendront les best practices de développement web (techniques de versionning et de collaboration sur Github, déploiement continu et scaling d'une application web sur heroku, gestion des photos sur Amazon S3, etc.)</p>
      </div>
    </div>
  </div>
</div>
