<div class="row text-center" id="alumni">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="testimonial">
      <p>
        <strong class="grey">"</strong> En sortant du Wagon, on a développé l'appli Fizzer en dix jours. Le  Wagon nous a fait gagner deux ans en nous plongeant dans une communauté d'entrepreneurs / développeurs ultra-compétents. Beaucoup plus qu'une formation ! <strong class="grey">"</strong>
      </p>
      <p class="signature">
        <span class="red">–</span> Vincent & Baptiste
      </p>
      <div class="workfor">
        <span class="grey">fondateurs de </span> <a href="https://www.fizzer.fr/"><img src="<%= image_path 'logos/fizzer.png' %>" alt="Fizzer"></a>
      </div>
    </div>
    <a href="http://www.entreprises.ouest-france.fr/article/caen-fizzer-carte-postale-portee-smartphone-15-07-2014-153533">
      <img src="<%= image_path 'alumni/fizzer-guys.png' %>" alt="fizzer guys" class="img-circle circle">
    </a>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="testimonial">
      <p>
        <strong class="grey">"</strong> Après deux ans chez Rocket-Internet, j'ai intégré la promo 1 pour maîtriser la technique et développer l'API de Kudoz. Aujourd'hui, je me concentre sur le développement. On vient même d'embaucher un élève de la saison 2 ! <strong class="grey">"</strong>
      </p>
      <p class="signature">
        <span class="red">–</span> Olivier Xu
      </p>
      <div class="workfor">
        <span class="grey">fondateur de </span> <a href="http://www.getkudoz.com/"><img src="<%= image_path 'logos/kudoz.png' %>" alt="Kudoz" class="workfor"></a>
      </div>
    </div>
    <a href="http://fr.linkedin.com/in/olivierxu">
      <img src="<%= image_path 'alumni/olivier.png' %>" alt="Olivier Xu" class="circle">
    </a>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="testimonial">
      <p>
        <strong class="grey">"</strong> Le Wagon a accéléré ma transition vers le métier qui me passionne vraiment. Sorti d'une école de commerce, je suis maintenant développeur junior chez weroom dans un cadre super stimulant où je continue a apprendre tous les jours. <strong class="grey">"</strong>
      </p>
      <p class="signature">
        <span class="red">–</span> Sebastien Ferré
      </p>
      <div class="workfor">
        <span class="grey">travaille pour</span> <a href="https://www.weroom.com/"><img src="<%= image_path 'logos/weroom.png' %>" alt="Weroom" class="workfor"></a>
      </div>
    </div>
    <a href="http://sebastien.ferre.io/">
      <img src="<%= image_path 'alumni/seb.png' %>" alt="Sebastien Ferre" class="circle">
    </a>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="testimonial">
      <p>
        <strong class="grey">"</strong>Je me suis découvert une passion pour le code et le développement JavaScript. Le Wagon m'a donné les clés de lecture de la programmation et surtout la doc des APIs. Résultat, j'ai maintenant des nouveaux super pouvoirs !.<strong class="grey">"</strong>
      </p>
      <p class="signature">
        <span class="red">–</span> Vincent Simon
      </p>
      <div class="workfor">
        <span class="grey">travaille pour</span> <a href="http://www.fifty-five.com/"><img src="<%= image_path 'logos/fifty-five.png' %>" alt="Fifty-Five" class="workfor"></a>
      </div>
    </div>
    <a href="http://fr.linkedin.com/pub/vincent-simon/72/282/ba1">
      <img src="<%= image_path 'alumni/vincent.png' %>" alt="Vincent Simon" class="circle">
    </a>
  </div>
</div>